@charset "windows-1251";
/* CSS Document */
.green_t {
	color: #176c02;
	font-weight: bold;
}

.blue_t {
	color: #243e5c;
	font-weight: bold;
}

.btn-block {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center;
	margin: 0 10px 0 0;
}

.btn {
	font-family: Tahoma, Geneva, sans-serif;
	display: inline-block;
	padding: 4px 8px;
	font-size: 11px;
	line-height: 18px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px #fff;
	background-color: #eeeeee;

	border: 1px solid #e1e1e1;
	border-bottom-color: #bbb;

	cursor: pointer;
	*margin-left: .3em;
	text-decoration: none;
}

.btn a {
	text-decoration: none;
}

.btn:first-child {
	*margin-left: 0;
}

.btn:hover {
	color: #333333;
	text-decoration: none;
	background-color: #e6e6e6;

}

.btn:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.btn.active, .btn:active {
	background-image: none;
	-webkit-box-shadow: inset 0 2px 4px #112239;
	-moz-box-shadow: inset 0 2px 4px #112239;
	box-shadow: inset 0 2px 4px #112239;

	color: #000;
	outline: 0;
}

.btn.disabled, .btn[disabled] {
	cursor: default;
	background-image: none;
	background-color: #e6e6e6;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.btn-large {
	padding: 9px 14px;
	font-size: 15px;
	line-height: normal;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.btn-large .icon {
	margin-top: 1px;
}

.btn-small {
	padding: 5px 9px;
	font-size: 11px;
	line-height: 16px;
}

.btn-small .icon {
	margin-top: -1px;
}

.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: #ffffff;
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active {
	color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
	color: #fff;
	background: #243e5c; /* Old browsers */

	border: 1px solid #0b192d;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
	color: #fff;
	background: #3c9c08; /* Old browsers */

	border: 1px solid #176c02;
}

.btn-primary:active, .btn-primary.active {
	background-color: #003399 \9;
}

.btn-warning {
	background-color: #d89d68;
	border-color: #a5774e;

}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
	background-color: #f0b076;
}

.btn-warning:active, .btn-warning.active {
	background-color: #c67605 \9;
}

.btn-danger {
	background-color: #da4f49;
	border-color: #bd362f;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
	background-color: #bd362f;
}

.btn-danger:active, .btn-danger.active {
	background-color: #942a25 \9;
}

.btn-success {
	background-color: #3c9c08;
	font-weight: bold;
	text-transform: uppercase;
	border: #176c02 1px solid;
	font-size: 11px;

}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
	background-color: #51a351;
}

.btn-success:active, .btn-success.active {
	background-color: #408140 \9;
}

.btn-info {
	background-color: #49afcd;
	border-color: #176c02;

}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
	background-color: #53bb0c;
}

.btn-info:active, .btn-info.active {
	background-color: #24748c \9;
}

button.btn, input[type="submit"].btn {
	*padding-top: 2px;
	*padding-bottom: 2px;
}

button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner {
	padding: 0;
	border: 0;
}

button.btn.large, input[type="submit"].btn.large {
	*padding-top: 7px;
	*padding-bottom: 7px;
}

button.btn.small, input[type="submit"].btn.small {
	*padding-top: 3px;
	*padding-bottom: 3px;
}

.btn-group {
	position: relative;
	*zoom: 1;
	*margin-left: .3em;
}

.btn-group:before, .btn-group:after {
	display: table;
	content: "";
}

.btn-group:after {
	clear: both;
}

.btn-group:first-child {
	*margin-left: 0;
}

.btn-group + .btn-group {
	margin-left: 5px;
}

.btn-toolbar {
	margin-top: 9px;
	margin-bottom: 9px;
}

.btn-toolbar .btn-group {
	display: inline-block;
	*display: inline;
	/* IE7 inline-block hack */

	*zoom: 1;
}

.btn-group .btn {
	position: relative;
	float: left;
	margin-left: -1px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.btn-group .btn:first-child {
	margin-left: 0;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}

.btn-group .btn:last-child, .btn-group .dropdown-toggle {
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
}

.btn-group .btn.large:first-child {
	margin-left: 0;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
}

.btn-group .btn.large:last-child, .btn-group .large.dropdown-toggle {
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
}

.btn-group .btn:hover,
.btn-group .btn:focus,
.btn-group .btn:active,
.btn-group .btn.active {
	z-index: 2;
}

.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle {
	outline: 0;
}

.btn-group .dropdown-toggle {
	padding-left: 8px;
	padding-right: 8px;
	-webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	*padding-top: 5px;
	*padding-bottom: 5px;
}

.btn-group.open {
	*z-index: 1000;
}

.btn-group.open .dropdown-menu {
	display: block;
	margin-top: 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.btn-group.open .dropdown-toggle {
	background-image: none;
	-webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn .caret {
	margin-top: 7px;
	margin-left: 0;
}

.btn:hover .caret, .open.btn-group .caret {
	opacity: 1;
	filter: alpha(opacity=100);
}

.btn-primary .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret {
	border-top-color: #ffffff;
	opacity: 0.75;
	filter: alpha(opacity=75);
}

.btn-small .caret {
	margin-top: 4px;
}

[class^="icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	vertical-align: middle;
	background-image: url(../../images/btn/glyphicons-halflings.png);
	background-repeat: no-repeat;
	*margin-right: .3em;
}

[class^="icon-"]:last-child {
	*margin-left: 0;
}

.icon-white {
	background-image: url(../../images/btn/glyphicons-halflings-white.png);
}

.icon-glass {
	background-position: 0 0;
}

.icon-music {
	background-position: -24px 0;
}

.icon-search {
	background-position: -48px 0;
}

.icon-envelope {
	background-position: -72px 0;
}

.icon-heart {
	background-position: -96px 0;
}

.icon-star {
	background-position: -120px 0;
}

.icon-star-empty {
	background-position: -144px 0;
}

.icon-user {
	background-position: -168px 0;
}

.icon-film {
	background-position: -192px 0;
}

.icon-th-large {
	background-position: -216px 0;
}

.icon-th {
	background-position: -240px 0;
}

.icon-th-list {
	background-position: -264px 0;
}

.icon-ok {
	background-position: -288px 0;
}

.icon-remove {
	background-position: -312px 0;
}

.icon-zoom-in {
	background-position: -336px 0;
}

.icon-zoom-out {
	background-position: -360px 0;
}

.icon-off {
	background-position: -384px 0;
}

.icon-signal {
	background-position: -408px 0;
}

.icon-cog {
	background-position: -432px 0;
}

.icon-trash {
	background-position: -456px 0;
}

.icon-home {
	background-position: 0 -24px;
}

.icon-file {
	background-position: -24px -24px;
}

.icon-time {
	background-position: -48px -24px;
}

.icon-road {
	background-position: -72px -24px;
}

.icon-download-alt {
	background-position: -96px -24px;
}

.icon-download {
	background-position: -120px -24px;
}

.icon-upload {
	background-position: -144px -24px;
}

.icon-inbox {
	background-position: -168px -24px;
}

.icon-play-circle {
	background-position: -192px -24px;
}

.icon-repeat {
	background-position: -216px -24px;
}

.icon-refresh {
	background-position: -240px -24px;
}

.icon-list-alt {
	background-position: -264px -24px;
}

.icon-lock {
	background-position: -287px -24px;
}

.icon-flag {
	background-position: -312px -24px;
}

.icon-headphones {
	background-position: -336px -24px;
}

.icon-volume-off {
	background-position: -360px -24px;
}

.icon-volume-down {
	background-position: -384px -24px;
}

.icon-volume-up {
	background-position: -408px -24px;
}

.icon-qrcode {
	background-position: -432px -24px;
}

.icon-barcode {
	background-position: -456px -24px;
}

.icon-tag {
	background-position: 0 -48px;
}

.icon-tags {
	background-position: -25px -48px;
}

.icon-book {
	background-position: -48px -48px;
}

.icon-bookmark {
	background-position: -72px -48px;
}

.icon-print {
	background-position: -96px -48px;
}

.icon-camera {
	background-position: -120px -48px;
}

.icon-font {
	background-position: -144px -48px;
}

.icon-bold {
	background-position: -167px -48px;
}

.icon-italic {
	background-position: -192px -48px;
}

.icon-text-height {
	background-position: -216px -48px;
}

.icon-text-width {
	background-position: -240px -48px;
}

.icon-align-left {
	background-position: -264px -48px;
}

.icon-align-center {
	background-position: -288px -48px;
}

.icon-align-right {
	background-position: -312px -48px;
}

.icon-align-justify {
	background-position: -336px -48px;
}

.icon-list {
	background-position: -360px -48px;
}

.icon-indent-left {
	background-position: -384px -48px;
}

.icon-indent-right {
	background-position: -408px -48px;
}

.icon-facetime-video {
	background-position: -432px -48px;
}

.icon-picture {
	background-position: -456px -48px;
}

.icon-pencil {
	background-position: 0 -72px;
}

.icon-map-marker {
	background-position: -24px -72px;
}

.icon-adjust {
	background-position: -48px -72px;
}

.icon-tint {
	background-position: -72px -72px;
}

.icon-edit {
	background-position: -96px -72px;
}

.icon-share {
	background-position: -120px -72px;
}

.icon-check {
	background-position: -144px -72px;
}

.icon-move {
	background-position: -168px -72px;
}

.icon-step-backward {
	background-position: -192px -72px;
}

.icon-fast-backward {
	background-position: -216px -72px;
}

.icon-backward {
	background-position: -240px -72px;
}

.icon-play {
	background-position: -264px -72px;
}

.icon-pause {
	background-position: -288px -72px;
}

.icon-stop {
	background-position: -312px -72px;
}

.icon-forward {
	background-position: -336px -72px;
}

.icon-fast-forward {
	background-position: -360px -72px;
}

.icon-step-forward {
	background-position: -384px -72px;
}

.icon-eject {
	background-position: -408px -72px;
}

.icon-chevron-left {
	background-position: -432px -72px;
}

.icon-chevron-right {
	background-position: -456px -72px;
}

.icon-plus-sign {
	background-position: 0 -96px;
}

.icon-minus-sign {
	background-position: -24px -96px;
}

.icon-remove-sign {
	background-position: -48px -96px;
}

.icon-ok-sign {
	background-position: -72px -96px;
}

.icon-question-sign {
	background-position: -96px -96px;
}

.icon-info-sign {
	background-position: -120px -96px;
}

.icon-screenshot {
	background-position: -144px -96px;
}

.icon-remove-circle {
	background-position: -168px -96px;
}

.icon-ok-circle {
	background-position: -192px -96px;
}

.icon-ban-circle {
	background-position: -216px -96px;
}

.icon-arrow-left {
	background-position: -240px -96px;
}

.icon-arrow-right {
	background-position: -264px -96px;
}

.icon-arrow-up {
	background-position: -289px -96px;
}

.icon-arrow-down {
	background-position: -312px -96px;
}

.icon-share-alt {
	background-position: -336px -96px;
}

.icon-resize-full {
	background-position: -360px -96px;
}

.icon-resize-small {
	background-position: -384px -96px;
}

.icon-plus {
	background-position: -408px -96px;
}

.icon-minus {
	background-position: -433px -96px;
}

.icon-asterisk {
	background-position: -456px -96px;
}

.icon-exclamation-sign {
	background-position: 0 -120px;
}

.icon-gift {
	background-position: -24px -120px;
}

.icon-leaf {
	background-position: -48px -120px;
}

.icon-fire {
	background-position: -72px -120px;
}

.icon-eye-open {
	background-position: -96px -120px;
}

.icon-eye-close {
	background-position: -120px -120px;
}

.icon-warning-sign {
	background-position: -144px -120px;
}

.icon-plane {
	background-position: -168px -120px;
}

.icon-calendar {
	background-position: -192px -120px;
}

.icon-random {
	background-position: -216px -120px;
}

.icon-comment {
	background-position: -240px -120px;
}

.icon-magnet {
	background-position: -264px -120px;
}

.icon-chevron-up {
	background-position: -288px -120px;
}

.icon-chevron-down {
	background-position: -313px -119px;
}

.icon-retweet {
	background-position: -336px -120px;
}

.icon-shopping-cart {
	background-position: -360px -120px;
}

.icon-folder-close {
	background-position: -384px -120px;
}

.icon-folder-open {
	background-position: -408px -120px;
}

.icon-resize-vertical {
	background-position: -432px -119px;
}

.icon-resize-horizontal {
	background-position: -456px -118px;
}

#gallery {
	width: 725px;
	margin: 25px auto;
}

#gallery a {
	display: block;
	float: left;
	margin-bottom: 25px;
	position: relative;

	-webkit-box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.5);
}

/*Left and Right margins to images in the middle column*/
/*This selects the 2nd, 5th and 8th elements*/
#gallery a:nth-child(3n+2) {
	margin: 0 25px 25px 25px;
}

#gallery a img {
	display: block;
	-webkit-transition: all 0.5s;
}

/*Hover effects*/
#gallery a img:hover {
	-webkit-filter: none; /*Returns to default state*/
}

/*Default state for brightness has to be specified specifically*/
#gallery a img.brightness {
	-webkit-filter: brightness
}

/*Title styles*/
.title {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	position: absolute;
	left: 0;
	bottom: 15px;
	z-index: 1;
	padding: 5px 7px;
	background: rgba(0, 0, 0, 0.6);
}

/*Filter styles*/
.saturate {
	-webkit-filter: saturate(3);
}

.grayscale {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-khtml-filter: grayscale(100%);
}

.contrast {
	-webkit-filter: contrast(160%);
}

.brightness {
	-webkit-filter: brightness(0.25);
}

.blur {
	-webkit-filter: blur(3px);
}

.invert {
	-webkit-filter: invert(100%);
}

.sepia {
	-webkit-filter: sepia(100%);
}

.huerotate {
	-webkit-filter: hue-rotate(180deg);
}

.opacity {
	-webkit-filter: opacity(50%);
}

img.bw {
	-webkit-filter: grayscale(100%);
}

img.bw:hover {
	-webkit-filter: none;
}

