/.idea
/engine/plugins
/engine/cache/_templates
/engine/cache/core
/engine/cache/twig
/engine/cache/last_backup.tmp
/engine/backups/*.gz
/engine/conf/config.php
/engine/conf/plugdata.php
/engine/conf/plugins.php
engine/includes/classes/json.php