/.idea
/engine/plugins
/engine/cache
/engine/backups/*.gz
/engine/conf/config.php
/engine/conf/plugdata.php
/engine/conf/plugins.php
/engine/conf/perm.php
/engine/conf/extras
/engine/trash/admin_note.inc.txt
/uploads
/vendor
/templates
!/templates/default
!/templates/default2
!/templates/popsa2
.phpunit.result.cache
composer.lock
npm-debug.log
