/.idea
/engine/plugins
/engine/cache
/engine/backups/*.gz
/engine/conf/config.php
/engine/conf/plugdata.php
/engine/conf/plugins.php
/engine/conf/perm.php
/engine/conf/extras
/engine/trash/admin_note.inc.txt
/uploads