body, table { padding: 0; margin: 5px; font: 10px verdana, sans-serif }
p { padding: 0; margin: 0; }
.text { font: normal 11px verdana, sans-serif; padding: 10px; text-align: justify; }
h1 { font: bold 16px verdana, sans-serif; color: #6BB5EE; margin: 5px; margin-bottom: 10px; }
h2 { font: bold 14px verdana, sans-serif; color: #444; margin: 0; }
h3 { 
	border-top: 1px solid #EEEEEE; 
	font: bold 12px verdana, sans-serif; 
	color: #444;
	margin: 0; 
	background: #F0FFFF;
	padding-bottom: 5px;
}
ol { color: #444; margin-left: 10px; }
ul { color: #444; margin-left: 10px; list-style-type: square; }
a:active,a:visited, a:link { font-weight: bold; color: #333; text-decoration: none; letter-spacing: 1px; }
a:hover { color: #6BB5EE; text-decoration: underline; letter-spacing: 1px; }
.help { border-bottom: 1px dotted #444; cursor: help; }
.code { border: #D4D4D4 1px solid; padding: 4px; background: #FBFAF9; margin: 10px; font-family: Andale Mono, Courier }
small { font: normal 10px verdana, sans-serif; }

.nav { text-align: center; width:100%; height: 21px; background-color: #333; font: bold 11px verdana, sans-serif; color: #fff; }
.nav a { color: #fff; font: bold 11px verdana, sans-serif; text-decoration: none; background-color: #333; letter-spacing: 0;}
.nav a:hover { color: #fff; font: bold 11px verdana, sans-serif; text-decoration: underline; background-color: #333; letter-spacing: 0; }
.important { font: normal 11px verdana, sans-serif; text-align: justify; border: 1px dotted #999; padding: 10px; background-color: #ffc; }
.important a { font: bold 11px verdana, sans-serif; color: #444; }
.important a:hover { font: bold 11px verdana, sans-serif; color: #444; }
.right { font: normal 11px verdana, sans-serif; text-align: justify; border: 1px dotted #999; padding: 10px; background-color: #BFFFBF; }
.right a { font: bold 11px verdana, sans-serif; color: #444; }
.right a:hover { font: bold 11px verdana, sans-serif; color: #444; }

.code { font: normal 11px verdana, sans-serif; text-align: justify; border: 1px dotted #999; padding: 10px; background-color: #eafaff; }
.code a { font: bold 11px verdana, sans-serif; color: #444; }
.code a:hover { font: bold 11px verdana, sans-serif; color: #444; }


.pre pre {
 border: 1px solid #76774C; 
 background-color: #FDFDD3; 
 margin-bottom: 10px;
 margin-top: 5px; 
 padding: 5px; 
 overflow: auto;
 width: 98%;
 font: 9pt consolas, verdana, sans-serif;
}
.comment {
 padding: 0px;
 margin: 0px;
 background: white;
 display: inline;
 color: blue;
}

.chprefix {
 color: blue;
}

.menu ul { color: #444; margin-left: 2px; padding-left: 12px; list-style-type: square; }
.menu li { margin-left: 2px; margin-right: 5px;}
.menu a  { font-weight: normal; letter-spacing: 0px; text-decoration: underline; }
.menu ul ul { padding-left: 2px; }