// Fonts
$web-font-path: "";
$fa-font-path: "./fonts/font-awesome" !default;

// Body
// $body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Ubuntu", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
