html {
height:100%;
}

body {
background-color: #fff;
margin : 0;
padding : 0;
height:auto !important;
min-height:100%;
font: normal 11px/14px Tahoma,sans-serif;
color: #666;
}

a {
color: #090808;
font: normal 11px Arial, Tahoma, Verdana;
text-decoration: underline;
}

a:hover {
font: normal 11px Arial, Tahoma, Verdana;
color: #6BB5EE;
text-decoration: none;
}

form {
display: inline;
}

form, label, input {
margin: 0px;
padding: 0px;
}

#cdate input {
margin-bottom: 2px;
}

label {
cursor: pointer;
}

li{
list-style-type: none;
list-style-position: outside;
}

img {
border: 0px;
vertical-align: middle;
}

select, option, textarea, input {
color: #333;
background-color: #f9fafb;
font: 11px verdana, sans-serif;
}

textarea, input {
border: 1px solid #ccc;
padding: 2px;
}

textarea {
margin: 5px;
font: 11px Verdana, Tahoma, Arial, Sans-serif;
}

input:focus, textarea:focus {
background: #fff;
border: 1px solid #aaa;
}

blockquote {
background : #fbfbfb url(images/quote.gif) no-repeat top right;
border: 1px solid #eeeeef;
font: 11px Verdana, sans-serif;
margin: 5px;
padding: 5px;
}

blockquote .code {
padding : 10px;
margin : 10px 0 10px 15px;
border : 1px solid #eee;
border-left : 5px solid #ccc;
background : #fafafa url(./images/quotes.gif) no-repeat top center;
color : #666;
line-height: 140%;
}

.footer {
padding : 0;
margin : 10px 0 0 0;
width : 100%;
height : 15px;
background-color : #D4D0C8;
font : normal 10px Tahoma,sans-serif;
color : black;
text-align : center;
}

.footer a {
text-decoration : underline;
color : black;
}

.footer a:hover {
text-decoration: none;
color: black;
}

#topNavigator {
 text-align: left;
 margin: 5px 0px;
 width: 1000px;
 background-color: #D4D0C8;
 font: 12px Tahoma,sans-serif;
 color: #ffffff;
 padding: 0px 0px;
 border-top: #D4D0C8 2px solid;
}

#topNavigator span {
 padding: 0px 15px 0px 15px;
}

#topNavigator span.active {
 padding: 1px 15px 1px 15px;
 background-color: white;
 color: blue;
}


#topNavigator a {
 color: black;
 text-decoration: none;
 font: 12px Verdana, Tahoma, Sans-serif;
}

#topNavigator a:hover {
color: black;
text-decoration: underline;
}

.content {
width:100%;
background-color: #fff;
font: normal 11px Tahoma,sans-serif;
color: #333;
}

.contentNav {
padding: 5px 0 5px 5px;
background-color: #ffc;
font: normal 11px verdana, sans-serif;
color: #333;
border: 1px dotted #ccc;
}

.contentEdit {
padding: 5px 0 5px 5px;
background-color: #eafaff;
font: normal 11px verdana, sans-serif;
color: #444;
border: 1px dotted #ccc;
}

.contentHead {
background-color: #fafafa;
padding: 1px 0 1px 5px;
font: bold 12px verdana, sans-serif;
color: #333;
border-top: 1px solid #eee;
border-bottom: 1px solid #eee;
}

.contentEntry1 {
padding: 5px 0 1px 5px;
background-color: #fff;
border-bottom: 1px solid #f0f0f0;
font: normal 11px tahoma, sans-serif;
color: #000;
}

.contHead TD {
background-color: #fafafa;
padding: 1px 0 1px 5px;
font: bold 12px verdana, sans-serif;
color: #333;
border-top: 1px solid #eee;
border-bottom: 1px solid #eee;
text-align: left;
}

.contRow1 TD {
padding: 5px 0 1px 5px;
background-color: #ffffff;
border-bottom: 1px solid #f0f0f0;
font: normal 11px tahoma, sans-serif;
color: #000;
text-align: left;
}

.contRow2 TD {
padding: 5px 0 1px 5px;
background-color: #FFFFFF;
border-bottom: 1px solid #f0f0f0;
font: normal 11px tahoma, sans-serif;
color: #bbbbbb;
text-align: left;
}

.contRow2 A { color: #bbbbbb; }

.contRow3 TD {
padding: 5px 0 1px 5px;
background-color: #D0D0D0;
border-bottom: 1px solid #f0f0f0;
font: normal 11px tahoma, sans-serif;
color: #000000;
}

.contentEntry1 small {
color: #777;
}

.contentEntry2 {
padding: 5px 10px 3px 15px;
background-color: #fff;
border-bottom: 1px solid #f0f0f0;
font: normal 11px Tahoma,sans-serif;
color: #333;
text-align: right;
}

.button {
padding: 1px 3px 1px 3px;
border-top: 1px solid #f2f2f2;
border-left: 1px solid #f2f2f2;
border-right: 2px solid #aaa;
border-bottom: 2px solid #aaa;
font: 11px normal Arial, Sans-serif;
color: #333;
background-color: #fff;
}

.navbutton {
padding: 1px 3px 1px 3px;
border-top: 1px solid #f2f2f2;
border-left: 1px solid #f2f2f2;
border-right: 2px solid #aaa;
border-bottom: 2px solid #aaa;
font: 11px normal verdana, Sans-serif;
color: #333;
background-color: #fff;
}

#tags {
margin-left: 0px;
margin-right: 0px;
margin-top: 5px;
margin-bottom: 0px;
background: #f9fafb;
padding-bottom: 5px;
padding-top: 5px;
}

#tags .more {
 text-align: right;
 padding-left: 20px;
 padding-right: 20px;
 background: #FFFFFF;
 padding-top: -5px;
 padding-bottom: 5px;
}

#tags A {
cursor: pointer;
}

.preview {
border: 1px solid #efefef;
background: #eee;
width: 500px;
height: 200px;
overflow: auto;
}

.check {
margin: 0;
border: 0;
background: transparent;
}

.check:focus {
margin: 0;
border: 0;
background: transparent;
}

.msgo {
margin: 10px;
padding: 5px;
text-align: center;
width: auto;
height: auto;
font: 11px Arial, sans-serif;
color: #80AB06;
background: #fff;
border: 1px dotted #80AB06;
}

.msgo a {
font: 11px Arial, sans-serif;
font-weight: bold;
color: #80AB06;
text-decoration: underline;
}

.msgo a:hover {
font: 11px Arial, sans-serif;
font-weight: bold;
color: #80AB06;
text-decoration: none;
}

.msgi {
margin: 10px;
padding: 5px;
text-align: center;
width: auto;
height: auto;
font: 11px Arial, sans-serif;
color: #6B99C5;
background: #fff;
border: 1px dotted #6B99C5;
}

.msgi a {
font: 11px Arial, sans-serif;
font-weight: bold;
color: #6B99C5;
text-decoration: underline;
}

.msgi a:hover {
font: 11px Arial, sans-serif;
font-weight: bold;
color: #6B99C5;
text-decoration: none;
}

.msge {
margin: 10px;
padding: 5px;
text-align: center;
width: auto;
height: auto;
font: 11px Arial, sans-serif;
color: #FF3300;
background: #fff;
border: 1px dotted #FF3300;
}

.msge a {
font: 11px Arial, sans-serif;
font-weight: bold;
color: #FF3300;
text-decoration: underline;
}

.msge a:hover {
font: 11px Arial, sans-serif;
font-weight: bold;
color: #FF3300;
text-decoration: none;
}

.folder {
background: #f9fafb url(images/folder.gif) scroll right no-repeat;
}

.folder:focus {
background: #fff url(images/folder.gif) scroll right no-repeat;
}

.important {
background: #f9fafb url(images/important.gif) scroll right no-repeat;
}

.important:focus {
background: #fff url(images/important.gif) scroll right no-repeat;
}

.password {
background: #f9fafb url(images/key.gif) scroll right no-repeat;
}

.password:focus {
background: #fff url(images/key.gif) scroll right no-repeat;
}

.email {
background: #f9fafb url(images/email.gif) scroll right no-repeat;
}

.email:focus {
background: #fff url(images/email.gif) scroll right no-repeat;
}

.home {
background: #f9fafb url(images/home.gif) scroll right no-repeat;
}

.home:focus {
background: #fff url(images/home.gif) scroll right no-repeat;
}

.smilies {
border: none;
vertical-align: middle;
padding: 1px;
}

.tselect_active {
background: #a2d5a6;
width: 200px; 
color:#000000;
}

.tselect {
background: white;
width: 200px; 

}


.sysmsg_common {
font: 12px verdana; 
background-color: #EEEEEE; 
border: #ABCDEF 1px solid; 
margin: 1px; 
padding: 3px;
margin-bottom: 5px;
margin-top: 5px;
}

.sysmsg_common .info {
padding-top: 5px;
font: 12px verdana;
margin:0px;
background-color: #F5F5F5; 
}

.syserror_common {
font: 12px verdana; 
background-color: #EEEEEE; 
border: red 2px solid; 
margin: 1px; 
padding: 3px;
margin-bottom: 5px;
margin-top: 5px;
}

.syserror_common .info {
padding-top: 5px;
font: 12px verdana;
margin:0px;
background-color: #F5F5F5; 
}

.sysinfo_common {
font: 12px verdana; 
background-color: #F5F5F5; 
border: #ABCDEF 1px solid; 
margin: 1px; 
padding: 3px;
margin-bottom: 5px;
margin-top: 5px;
}

.contentActive {
 border: #ABCDEF 1px solid;
 font: normal 11px Tahoma,sans-serif;
 margin: 0px;
 padding: 0px;
 margin-bottom: 3px;
 background: #123456;
}

.contentInactive {
 border: #F0F0F0 1px solid;
 font: normal 11px Tahoma,sans-serif;
 margin: 0px;
 padding: 0px;
 margin-bottom: 3px;
}


#attaches table {
background: #FFFFFF;
}

#attaches table thead {
background: #AAAAAA;
font-weight: bold;
}

#attaches table tbody {
background: #F0F0F0;
}


#pluginTypeMenu {
	font: 12px verdana;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
}

#pluginTypeMenu .pInactive {
	width: 170px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	padding-left: 25px;
	border: 1px solid #D0D0D0;
	cursor: pointer;
	background: #F0F0F0 url("/engine/skins/default/images/no.png") no-repeat;
	background-position: 8px center;
}
#pluginTypeMenu .pActive {
	width: 170px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	padding-left: 25px;
	border: 1px solid red;
	cursor: pointer;
	background: #FFFFFF url("/engine/skins/default/images/yes.png") no-repeat;
	background-position: 8px center;
	
}
#pluginTypeMenu .pSeparator {
	float: left;
	width: 10px;
}

/* PLUGIN ENTRIES */
.pluginEntryActive TD { 
	display: ;
	padding: 5px 0 1px 5px;
	background-color: #ffffff;
	border-bottom: 1px solid #f0f0f0;
	font: normal 11px tahoma, sans-serif;
	color: #000;
	text-align: left;
}
.pluginEntryInactive TD {
	display: ;
	padding: 5px 0 1px 5px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #f0f0f0;
	font: normal 11px tahoma, sans-serif;
	color: #bbbbbb;
	text-align: left;
}
.pluginEntryUninstalled TD {
	display: ;
	padding: 5px 0 1px 5px;
	background-color: #D0D0D0;
	border-bottom: 1px solid #f0f0f0;
	font: normal 11px tahoma, sans-serif;
	color: #000000;
}


#suggestWindow {
 background: white; 
 border: 1px solid #aaaaaa; 
 color: black;
 width: 250px; 
 display: block;
 visibility: hidden;
 padding: 0px;
 font: normal 12px verdana, tahoma, sans-serif;
}

#suggestBlock {
 padding-top: 2px;
 padding-bottom: 2px;
}

#suggestBlock td {
 padding-left: 2px;
}

#suggestBlock tr {
 padding: 3px;
 padding-left: 8px;
 background: white;
}

/* #suggestBlock tr:hover, */
#suggestBlock .trHL {
 background: #3366cc;
 color: white;
 cursor: default;
}

#suggestBlock .cleft {
 padding-left: 5px;
}

#suggestBlock .cright {
 text-align: right;
 padding-right: 5px;
}

#suggestClose {
 display: block;
 text-align: right;
 font: normal 12px verdana, tahoma, sans-serif;
 background: #aaaaaa;
 color: white;
 padding-right: 3px;
}


/* Plugin configuration */
.pluginConfigHeader {
background-color: #fafafa;
padding: 1px 0 1px 5px;
font: bold 12px verdana, sans-serif;
color: #333;
border-top: 1px solid #eee;
border-bottom: 1px solid #eee;
}

.pluginConfigHeader A { font: 12px verdana; }
.pluginConfigHeader A.bold { font-weight: bold; }


/* dorogoff */
.h-l-tpl{background:#d4d0c8;color:#000000;font-size:12px;}
.h-l-tpl td{padding:4px;}

/* d7p4x */
.adminNavPages {padding-left:30px;padding-top:15px;}
.adminNavPages a {text-decoration:none;color:#ffffff;font-family:arial;font-weight:bold;font-size:12px;padding:1px 5px 1px 5px;background:#cacac9;}
.adminNavPages a:hover {text-decoration:underline;color:#ffffff;font-family:arial;font-weight:bold;font-size:12px;padding:1px 5px 1px 5px;background:#626262;}
.adminNavPages b{color:#ffffff;font-size:12px;font-family:arial;font-weight:bold;padding:1px 5px 1px 5px;background:#43a612;}
