/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 12px;
	line-height: 16px;
	font-family: arial;
	background: url('../img/bg.png') no-repeat 50% 0;
	color: #666;
}

a {
	color: #0093cf;
	text-decoration: underline;
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #272727;
	font-family: "PT Sans", arial;
	margin-bottom: 28px;
	font-weight: normal;
}

h1 {
	font-size: 25px;
	letter-spacing: 0.5px;
	line-height: 22px;
}

h2 {
	font-size: 22px;
	letter-spacing: 0.5px;
	line-height: 20px;
}

h3 {
	font-size: 20px;
	letter-spacing: 0.5px;
	line-height: 18px;
}

h4 {
	font-size: 18px;
	letter-spacing: 0.5px;
	line-height: 16px;
}

h5 {
	font-size: 16px;
	letter-spacing: 0.5px;
	line-height: 14px;
}

h6 {
	font-size: 12px;
	letter-spacing: 0.5px;
	line-height: 12px;
	font-weight: bold;
}

p {
	margin: 0 0 28px 0;
}

ul,
ol {
	margin: 0 0 28px 0;
	padding: 0 0 0 15px;
}

ul li,
ol li {
	margin: 0 0 5px 0;
	padding: 0;
}

ul {

}

ol {

}

blockquote {
	background: #fafafa;
	border-left: 3px solid #404547;
	padding: 20px 15px;
	color: #8a8a8a;
	line-height: 18px;
	margin: 0 0 28px 0;
	display: block;
}

pre {
	background: #fafafa;
	border-left: 3px solid #404547;
	padding: 20px 15px;
	color: #8a8a8a;
	line-height: 18px;
	margin: 0 0 28px 0;
	display: block;
	overflow: auto;
	max-height: 300px;
}

pre.full-code {
	max-height: 100%;
}

pre.fix-code {
	height: 300px;
}

.viewport {
	height: 300px;
}

.overflow-hidden {
	overflow: hidden;
}

.default {
	cursor: default !important;
}

img.pull-left {
	margin: 0 15px 15px 0;
}

img.pull-right {
	margin: 0 0 15px 15px;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.table {
	width: 100%;
	border-collapse: collapse;
}

.table th {
	padding: 10px 5px;
	background: #404547;
	color: #fff;
	font-size: 16px;
}

.table td {
	padding: 10px;
	vertical-align: top;
}

.table.table-bordered {
	border-bottom: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
}

.table.table-bordered td,
.table.table-bordered tf {
	border-left: 1px solid #e7e7e7;
	border-top: 1px solid #e7e7e7;
}

.table.table-bordered th {
	border-left: 1px solid #595b5d;
	border-top: 1px solid #595b5d;
}

.table.table-striped td.even {
	background: #fafafa;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
