* {
	padding: 0;
	margin: 0;
}

body {
	background: url('../img/bg-top.jpg') repeat-x center top #ecf1f7;
	color: #5c5c5c;
	font-size: 12px;
	font-family: Arial;
	line-height: 20px;
}

a {
	color: #537c90;
	text-decoration: none;
}

a:hover {
	color: #3c9c08;
	text-decoration: underline;
}

a img {
	border: none;
}

h1 {
	font-size: 24px;
	margin: 0;
}

h2 {
	font-size: 22px;
	margin: 0;
}

h3 {
	font-size: 20px;
	margin: 0;
}

h4 {
	font-size: 14px;
	margin: 0;
}

h5 {
	font-size: 12px;
	margin: 0;
}

h6 {
	font-size: 11px;
	margin: 0;
}

p {
	margin: 0 0 15px 0;
}

ol, ul {
	margin: 5px 0 5px 15px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clr {
	clear: both;
}

.btn {
	color: #ffffff;
	font-size: 13px;
	padding: 7px 9px;
	background-color: #90c1d6;
	background-image: -moz-linear-gradient(top, #90c1d6, #60a2be);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#90c1d6), to(#60a2be));
	background-image: -webkit-linear-gradient(top, #90c1d6, #60a2be);
	background-image: -o-linear-gradient(top, #90c1d6, #60a2be);
	background-image: linear-gradient(to bottom, #90c1d6, #60a2be);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff90c1d6', endColorstr='#ff60a2be', GradientType=0);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 1px 0px #ccdee5;
	-webkit-box-shadow: 0px 1px 0px #ccdee5;
	box-shadow: 0px 1px 0px #ccdee5;
	text-shadow: 0px -1px 0px #4f91b2;
	cursor: pointer;
	border: none;
	display: inline-block;
}

input.btn {
	padding: 8px 9px;
}

.btn:hover {
	color: #ffffff;
	text-decoration: none;
	-moz-box-shadow: inset 0px -2px 0px #498baa;
	-webkit-box-shadow: inset 0px -2px 0px #498baa;
	box-shadow: inset 0px -2px 0px #498baa;
	cursor: pointer;
}

.btn:active {
	color: #ffffff;
	text-decoration: none;
	background-color: #60a2be;
	background-image: -moz-linear-gradient(top, #60a2be, #90c1d6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#60a2be), to(#90c1d6));
	background-image: -webkit-linear-gradient(top, #60a2be, #90c1d6);
	background-image: -o-linear-gradient(top, #60a2be, #90c1d6);
	background-image: linear-gradient(to bottom, #60a2be, #90c1d6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff60a2be', endColorstr='#ff90c1d6', GradientType=0);
	-moz-box-shadow: inset 0px 1px 0px #45819d;
	-webkit-box-shadow: inset 0px 1px 0px #45819d;
	box-shadow: inset 0px 1px 0px #45819d;
	cursor: pointer;
}

select {
	border: 1px solid #d7d7d7;
	background: #fff;
	-moz-box-shadow: inset 0px 1px 0px #eeeeee;
	-webkit-box-shadow: inset 0px 1px 0px #eeeeee;
	box-shadow: inset 0px 1px 0px #eeeeee;
	padding: 10px;
	height: 42px;
	max-width: 150px;
	margin-bottom: 15px;
	font-size: 14px;
	color: #696969;
}

.input, .fi input, .xprofile input {
	border: 1px solid #d7d7d7;
	background: #fff;
	-moz-box-shadow: inset 0px 1px 0px #eeeeee;
	-webkit-box-shadow: inset 0px 1px 0px #eeeeee;
	box-shadow: inset 0px 1px 0px #eeeeee;
	padding: 10px;
	height: 20px;
	width: 260px;
	margin-bottom: 15px;
	font-size: 14px;
	color: #696969;
}

.textarea, .xprofile textarea {
	border: 1px solid #d7d7d7;
	background: #fff;
	-moz-box-shadow: inset 0px 1px 0px #eeeeee;
	-webkit-box-shadow: inset 0px 1px 0px #eeeeee;
	box-shadow: inset 0px 1px 0px #eeeeee;
	padding: 10px;
	margin-bottom: 15px;
	font-size: 14px;
	color: #696969;
}

.well {
	background: #e0eaef;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
}

/* Wrapper
----------------------------*/
#wrapper {
	width: 1000px;
	margin: 0 auto;
}

/* Header
----------------------------*/
#header {

}

/* Header - menu
----------------------------*/
#menu {
	float: left;
}

#menu ul {
	margin: 15px 0 0 -15px;
	list-style: none;
}

#menu ul li {
	float: left;
	display: block;
	padding: 0px 3px;
	border-right: 1px dotted #5d7c99;
	position: relative;
}

#menu ul li.first {

}

#menu ul li.last {
	border-right: 0;
}

#menu ul li a {
	color: #b7c8d4;
	padding: 5px 12px;
	display: block;
	margin-top: -3px;
	margin-bottom: -1px;
}

#menu ul li:hover a,
#menu ul li a:hover {
	color: #26415f;
	background: #54a1c1;
	text-shadow: 1px 1px 1px #5fa9c6;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-decoration: none;
}

#menu ul li.parent a {
	background: url('../img/parent.png') 86% 50% no-repeat;
	padding: 5px 30px 5px 12px;
}

#menu ul li.parent:hover a,
#menu ul li.parent a:hover {
	background: url('../img/parent-hover.png') 87% 50% no-repeat #54a1c1;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#menu ul li ul {
	display: none;
	margin: 0;
	position: absolute;
	background: #54a1c1;
	-webkit-border-radius: 5px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 5px;
	-moz-border-radius-topleft: 0;
	border-radius: 5px;
	border-top-left-radius: 0;
	width: 14em;
}

#menu ul li ul li {
	float: none;
	display: block;
	padding: 0px;
	border-right: 0;
}

#menu ul li.parent ul li a {
	display: block;
	padding: 10px !important;
	border-bottom: 1px solid #6dafca;
	background: none !important;
	color: #fff !important;
}

#menu ul li.parent ul li a:hover {
	text-decoration: underline;
}

#menu ul li.parent ul li.last a {
	border-bottom: none;
}

/* Header - social
----------------------------*/
#social {
	float: right;
	margin-top: 17px;
}

#social a {
	display: block;
	width: 28px;
	height: 28px;
	padding: 1px;
	float: left;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#social a.rss {
	background-image: url('../img/rss.png');
}

#social a.vk {
	background-image: url('../img/vk.png');
}

#social a.twitter {
	background-image: url('../img/twitter.png');
}

#social a:hover {
	border: 1px solid #425e7b;
	padding: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* Header - logo
----------------------------*/
#logo {
	margin: 80px 0 0 15px;
	float: left;
}

/* Header - right-control
----------------------------*/
#right-control {
	margin: 80px 0 0 0;
	float: right;
}

#right-control #search {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	height: 26px;
	padding: 10px;
	background-color: #c3d7e3;
	background-image: -moz-linear-gradient(top, #c3d7e3, #dbe7ef);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c3d7e3), to(#dbe7ef));
	background-image: -webkit-linear-gradient(top, #c3d7e3, #dbe7ef);
	background-image: -o-linear-gradient(top, #c3d7e3, #dbe7ef);
	background-image: linear-gradient(to bottom, #c3d7e3, #dbe7ef);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc3d7e3', endColorstr='#ffdbe7ef', GradientType=0);
	-webkit-box-shadow: inset 0px 1px 1px #a4b4be;
	-moz-box-shadow: inset 0px 1px 1px #a4b4be;
	box-shadow: inset 0px 1px 1px #a4b4be;
	float: left;
}

#right-control #search .searchtext {
	color: #889caf;
	background: none;
	float: left;
	display: block;
	border: none;
	width: 160px;
	padding: 7px 3px;
	margin-top: -1px;
	border-right: 1px dotted #8ca6b1;
	margin-right: 10px;
}

#right-control #search .searchbtn {
	width: 25px;
	height: 26px;
	background: url('../img/searchbtn.png');
	border: 0;
	cursor: pointer;
	float: left;
	display: block;
}

#right-control #user-panel {
	float: left;
	margin-left: 25px;
	position: relative;
}

#right-control #user-panel a {
	height: 26px;
	padding: 12px 10px 8px 10px;
	background-color: #c3d7e3;
	background-image: -moz-linear-gradient(top, #c3d7e3, #dbe7ef);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c3d7e3), to(#dbe7ef));
	background-image: -webkit-linear-gradient(top, #c3d7e3, #dbe7ef);
	background-image: -o-linear-gradient(top, #c3d7e3, #dbe7ef);
	background-image: linear-gradient(to bottom, #c3d7e3, #dbe7ef);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc3d7e3', endColorstr='#ffdbe7ef', GradientType=0);
	-webkit-box-shadow: inset 0px 1px 1px #a4b4be;
	-moz-box-shadow: inset 0px 1px 0px #a4b4be;
	box-shadow: inset 0px 1px 1px #a4b4be;
	float: left;
	display: block;
	border-right: 1px solid #92adbb;
	color: #889caf;
	text-shadow: 1px 1px 1px #dbe7ee;
}

#right-control #user-panel .none a {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	float: left;
	padding: 0;
	display: block;
	background: none;
	border-right: none;
}

#right-control #user-panel .none a:hover {
	background: none;
}

#right-control #user-panel .avatar {
	margin: 0 -20px 0 0;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 45px;
	height: 46px;
}

#right-control #user-panel .exit {
	position: absolute;
	width: 29px;
	height: 28px;
	background: url('../img/clouse.png') !important;
	top: -14px;
	right: -14px;
	cursor: pointer;
}

#right-control #user-panel a.first {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-box-shadow: inset 0px 1px 1px #a4b4be;
	-moz-box-shadow: inset 0px 1px 1px #a4b4be;
	box-shadow: inset 0px 1px 1px #a4b4be;
	float: left;
	display: block;
}

#right-control #user-panel a.last {
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-box-shadow: inset 0px 1px 1px #a4b4be;
	-moz-box-shadow: inset 0px 1px 1px #a4b4be;
	box-shadow: inset 0px 1px 1px #a4b4be;
	float: left;
	display: block;
	border-right: 0;
}

#right-control #user-panel a:hover {
	color: #748ba1;
	text-decoration: none;
	background-color: #a3c0d3;
	background-image: -moz-linear-gradient(top, #a3c0d3, #c9dae6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a3c0d3), to(#c9dae6));
	background-image: -webkit-linear-gradient(top, #a3c0d3, #c9dae6);
	background-image: -o-linear-gradient(top, #a3c0d3, #c9dae6);
	background-image: linear-gradient(to bottom, #a3c0d3, #c9dae6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa3c0d3', endColorstr='#ffc9dae6', GradientType=0);
}

#right-control #user-panel a .icon {
	width: 17px;
	height: 17px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

#right-control #user-panel a .icon.icon-key {
	background: url('../img/key.png') no-repeat;
}

#right-control #user-panel a .icon.icon-address {
	background: url('../img/address.png') no-repeat;
}

/* Container
----------------------------*/
#container {
	border-top: 1px solid #e6eef5;
	margin-top: 40px;
	float: left;
	display: table-cell;
	-webkit-box-shadow: 0px 3px 3px #b0ccdd;
	-moz-box-shadow: 0px 3px 3px #b0ccdd;
	box-shadow: 0px 3px 3px #b0ccdd;
	position: relative;
}

#container .bg {
	position: absolute;
	z-index: 1;
	width: 217px;
	height: 221px;
	background: url('../img/general.jpg');
	top: -43px;
	left: -45px;
}

/* Container - mainblock
----------------------------*/
#container #mainblock {
	width: 646px;
	height: 200px;
	border-left: 1px solid #c9deea;
	display: table-cell;
	background: #f7f7f7;
	padding: 23px;
	vertical-align: top;
	position: relative;
	z-index: 3;
}

#container #mainblock .post {
	margin-bottom: 30px;
}

#container #mainblock .post .post-header {
	overflow: hidden;
}

#container #mainblock .post .post-title {
	float: left;
	color: #3b6579;
	font-size: 24px;
}

#container #mainblock .post .post-title a {
	color: #3b6579;
}

#container #mainblock .post .post-title a:hover {
	color: #3b6579;
}

#container #mainblock .post .post-info {
	float: right;
}

#container #mainblock .post .post-info span {
	color: #3b6579;
	font-size: 24px;
	display: block;
	float: left;
	padding-left: 23px;
	margin-right: 5px;
	background-repeat: no-repeat;
	background-position: 0 50%;
}

#container #mainblock .post .post-info span.post-views {
	background-image: url('../img/views.png');
}

#container #mainblock .post .post-info span.post-comments {
	background-image: url('../img/comments.png');
}

#container #mainblock .post .post-meta {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	height: 20px;
	padding: 10px;
	background-color: #e3ebef;
	background-image: -moz-linear-gradient(top, #e3ebef, #edf2f4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e3ebef), to(#edf2f4));
	background-image: -webkit-linear-gradient(top, #e3ebef, #edf2f4);
	background-image: -o-linear-gradient(top, #e3ebef, #edf2f4);
	background-image: linear-gradient(to bottom, #e3ebef, #edf2f4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe3ebef', endColorstr='#ffedf2f4', GradientType=0);
	-webkit-box-shadow: inset 0px 1px 0px #d3e3e9;
	-moz-box-shadow: inset 0px 0px 1px #d3e3e9;
	box-shadow: inset 0px 1px 0px #d3e3e9;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #838f93;
}

#container #mainblock .post .post-meta .separator {
	display: inline-block;
	height: 20px;
	border-right: 1px solid #bdcbd1;
	vertical-align: middle;
	margin: -2px 10px 0 10px;
}

#container #mainblock .post .post-footer {
	overflow: hidden;
}

#container #mainblock .post .post-footer .btn {
	float: left;
	position: relative;
	margin-right: -5px;
}

#container #mainblock .post .post-footer .tags {
	float: left;
	background: url('../img/tags.png') no-repeat left center;
	padding: 0 0 0 20px;
	margin: 6px 0 0 10px;
}

#container #mainblock .post .post-footer .tags a {
	color: #969696;
	text-decoration: underline;
}

#container #mainblock .post .post-footer .tags a:hover {
	color: #636363;
}

#container #mainblock .post .post-footer .rating {
	width: 85px;
	height: 17px;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #ebeeef;
	padding: 9px 6px 9px 11px;
}

.uRating {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 85px;
	height: 17px;
	position: relative;
	background: url('../img/rating.png') bottom left repeat-x;
}

.uRating li {
	height: 17px;
	text-indent: -90000px;
	padding: 0;
	margin: 0;
	float: left;
	background: url('../img/rating.png') left top;
}

.uRating li a {
	width: 17px;
	height: 17px;
	padding: 0;
	z-index: 17;
	display: block;
	text-decoration: none;
	text-indent: -9000px;
	position: absolute;
}

.uRating li a:hover {
	background: url('../img/rating.png') left top;
	z-index: 2;
	left: 0;
}

.uRating a.r1u {
	left: 0;
}

.uRating a.r1u:hover {
	width: 17px;
}

.uRating a.r2u {
	left: 17px;
}

.uRating a.r2u:hover {
	width: 34px;
}

.uRating a.r3u {
	left: 34px;
}

.uRating a.r3u:hover {
	width: 51px;
}

.uRating a.r4u {
	left: 51px;
}

.uRating a.r4u:hover {
	width: 68px;
}

.uRating a.r5u {
	left: 68px;
}

.uRating a.r5u:hover {
	width: 85px;
}

.uRating li.r0 {
	width: 0px;
}

.uRating li.r1 {
	width: 17px;
}

.uRating li.r2 {
	width: 33px;
}

.uRating li.r3 {
	width: 50px;
}

.uRating li.r4 {
	width: 68px;
}

.uRating li.r5 {
	width: 85px;
}

/* Container - mainblock - comments
----------------------------*/
#container #mainblock #comments {

}

#container #mainblock #comments .title {
	color: #5c5c5c;
	font-size: 18px;
	margin: 0 0 20px 0;
}

#container #mainblock #comments .comment {
	background: #ecf1f3;
	border-bottom: 1px solid #d0dde2;
	color: #3b6579;
	padding: 18px 10px 30px 24px;
	margin: -5px -22px 15px -22px;
	overflow: hidden;
	position: relative;
}

#container #mainblock #comments .comment .avatar {
	float: left;
	width: 67px;
	position: relative;
}

#container #mainblock #comments .comment .avatar img {
	max-width: 70px;
	max-height: 70px;
}

#container #mainblock #comments .comment .avatar .num {
	position: absolute;
	width: 29px;
	height: 25px;
	padding: 3px 0 0 0;
	background: url('../img/circle.png') no-repeat;
	top: -14px;
	left: -14px;
	color: #fff;
	text-shadow: 0px -1px #4e9f1a;
	text-align: center;
}

#container #mainblock #comments .comment .data {
	float: right;
	width: 565px;
}

#container #mainblock #comments .comment .info {
	overflow: hidden;
	border-bottom: 1px dotted #86a0ac;
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
}

#container #mainblock #comments .comment .info .author {
	margin: 0;
	float: left;
}

#container #mainblock #comments .comment .info .date {
	float: right;
}

#container #mainblock #comments .comment .quotes {
	color: #7699a4;
	font-size: 12px;
	height: 18px;
	padding: 4px 14px 6px;
	background-color: #fefeff;
	background-image: -moz-linear-gradient(top, #fefeff, #e9f3f7);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefeff), to(#e9f3f7));
	background-image: -webkit-linear-gradient(top, #fefeff, #e9f3f7);
	background-image: -o-linear-gradient(top, #fefeff, #e9f3f7);
	background-image: linear-gradient(to bottom, #fefeff, #e9f3f7);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffefeff', endColorstr='#ffe9f3f7', GradientType=0);
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	border-top: 1px solid #e7eef1;
	border-bottom: 1px solid #ccdfe7;
	-moz-box-shadow: 0px 1px 0px #e7eef1;
	-webkit-box-shadow: 0px 1px 0px #e7eef1;
	box-shadow: 0px 1px 0px #e7eef1;
	cursor: pointer;
	display: inline-block;
	position: absolute;
	bottom: 10px;
	right: 20px;
}

#container #mainblock #comments .bb {
	color: #bababa;
	margin-bottom: 20px;
}

/* Container - mainblock - paginator
----------------------------*/
#container #mainblock .nonebr br {
	display: none;
}

#container #mainblock .paginator {
	background: #edf2f4;
	padding: 10px;
	margin: 0px -23px -23px -23px;
}

#container #mainblock .paginator ul {
	list-style: none;
	text-align: center;
}

#container #mainblock .paginator ul li {
	display: inline-block;
}

#container #mainblock .paginator ul li a {
	display: block;
	background: #cadfe8;
	color: #6d818a;
	padding: 3px 7px;
	margin: 0 5px 0 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#container #mainblock .paginator ul li.active span {
	display: block;
	background: #67aac9;
	color: #fff;
	padding: 3px 7px;
	margin: 0 5px 0 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 2px #4e8faf;
	-moz-box-shadow: inset 0 0 2px #4e8faf;
	box-shadow: inset 0 0 2px #4e8faf;
}

#container #mainblock .paginator ul li.prev a {
	background: url('../img/prev.jpg') transparent no-repeat left center;
	font-weight: bold;
	padding-left: 18px;
}

#container #mainblock .paginator ul li.next a {
	background: url('../img/next.jpg') transparent no-repeat right center;
	font-weight: bold;
	padding-right: 18px;
}

/* Container - sidebar
----------------------------*/
#container #sidebar {
	width: 258px;
	border-left: 1px solid #d0dee4;
	border-right: 1px solid #d9e6f0;
	background: #f0f3f4;
	padding: 23px;
	display: table-cell;
	vertical-align: top;
}

#container #sidebar .block {
	margin: 0 0 15px 0;
}

#container #sidebar .block .block-title {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 35px;
	padding: 10px;
	color: #fff;
	font-size: 18px;
	background-color: #88c0d6;
	background-image: -moz-linear-gradient(top, #88c0d6, #5398b9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#88c0d6), to(#5398b9));
	background-image: -webkit-linear-gradient(top, #88c0d6, #5398b9);
	background-image: -o-linear-gradient(top, #88c0d6, #5398b9);
	background-image: linear-gradient(to bottom, #88c0d6, #5398b9);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff88c0d6', endColorstr='#ff5398b9', GradientType=0);
	-webkit-box-shadow: inset 0px -3px 0px #377ea4, 0px 2px 4px #8fb4c9;
	-moz-box-shadow: inset 0px -3px 0px #377ea4, 0px 2px 4px #8fb4c9;
	box-shadow: inset 0px -3px 0px #377ea4, 0px 2px 4px #8fb4c9;
	position: relative;
}

#container #sidebar .block .block-title span {
	font-size: 12px;
	font-style: italic;
	color: #cbe2ec;
	display: block;
}

/*
	Кто там будет след. верстальщиком не знаю, но старался сделать как можно лучше, что бы интеграция с движком была не геморойной.
	Хотел использовать last-news.png(прозрачную), но дизайнер использовал режими наложения(soft light, засветление), и я не смог вытянуть нормальную исконку. Вот пришлось вместе с градиентами css3 использовать jpg-шную картинку(с градиентом).
	А ещё дизайнер не дал мне нужные шрифты, а меня заебало уже их самому искать всегда.
*/
#container #sidebar .block .block-title .icon-last-news {
	display: block;
	position: absolute;
	width: 32px;
	height: 35px;
	background: url('../img/last-news.jpg') no-repeat;
	right: 10px;
	top: 11px;
}

#container #sidebar .block .block-title .icon-polls {
	display: block;
	position: absolute;
	width: 32px;
	height: 35px;
	background: url('../img/polls.jpg') no-repeat;
	right: 10px;
	top: 11px;
}

#container #sidebar .block .block-menu {

}

#container #sidebar .block .block-menu ul {
	list-style: none;
	margin: 0;
}

#container #sidebar .block .block-menu ul li {
	border-bottom: 1px dotted #95b4c4;
	padding: 10px 0;
}

#container #sidebar .block .block-polls {
	border-bottom: 1px dotted #95b4c4;
	padding-bottom: 15px;
}

#container #sidebar .block .question {
	width: 231px;
	border: 1px solid #b2d2df;
	border-radius: 5px;
	padding: 10px 15px;
	color: #377ea4;
	margin: 20px 0 30px 0;
	position: relative;
}

#container #sidebar .block .question span {
	width: 16px;
	height: 17px;
	position: absolute;
	display: block;
	bottom: -17px;
	left: 8px;
	background: url('../img/question-bg.jpg');
}

#container #sidebar .block label {
	margin: 0 0 5px 5px;
	display: inline-block;
}

#container #sidebar .block label:last-child {
	margin: 0 0 0 5px;
}

#container #sidebar .block .btn {
	margin: 20px 7px 0 0;
}

/* Container - sidebar-2
----------------------------*/
#container #sidebar-2 {
	width: 650px;
	border-left: 1px solid #c9deea;
	display: table-cell;
	padding: 23px;
	color: #d8e4f0;
	vertical-align: top;
	background-color: #243e5c;
	background-image: -moz-linear-gradient(top, #243e5c, #253f5c);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#243e5c), to(#253f5c));
	background-image: -webkit-linear-gradient(top, #243e5c, #253f5c);
	background-image: -o-linear-gradient(top, #243e5c, #253f5c);
	background-image: linear-gradient(to bottom, #243e5c, #253f5c);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff243e5c', endColorstr='#ff253f5c', GradientType=0);
	-webkit-box-shadow: inset 0px 1px 3px #223953;
	-moz-box-shadow: inset 0px 1px 3px #223953;
	box-shadow: inset 0px 1px 3px #223953;
	overflow: hidden;
}

#container #sidebar-2 .block {
	float: left;
	width: 200px;
	margin-right: 15px;
}

#container #sidebar-2 .block a.more {
	color: #d8e4f0;
	text-decoration: underline;
}

#container #sidebar-2 .block a.more:hover {
	text-decoration: none;
}

#container #sidebar-2 .block a {
	color: #9eb7d3;
}

#container #sidebar-2 .block .block-title {
	color: #d8e4f0;
	font-size: 24px;
	font-style: italic;
	border-bottom: 1px solid #3b5874;
	padding: 0 0 15px 0;
	margin: 0 0 15px 0;
}

#container #sidebar-2 .block .block-archiv ul {
	list-style: none;
	margin: 0 0 10px 0;
}

#container #sidebar-2 .block .block-archiv ul li {
	margin: 0 0 2px 0;
}

#container #sidebar-2 .block .block-calendar #calendar {
	width: 100%;
}

#container #sidebar-2 .block .block-calendar #calendar td {
	padding: 5px;
	text-align: center;
}

#container #sidebar-2 .block .block-calendar #calendar td.weekday {
	color: #d8e4f0;
}

#container #sidebar-2 .block .block-calendar #calendar td {
	padding: 5px;
	border-top: 1px solid #3b5874;
	color: #9eb7d3;
}

#container #sidebar-2 .block .block-calendar #calendar td.weekend a, #container #sidebar-2 .block .block-calendar #calendar td.weekday a {
	color: #fff;
	font-weight: bold;
}

#container #sidebar-2 .block .block-calendar #calendar td.todaywd a, #container #sidebar-2 .block .block-calendar #calendar td.todaywe a {
	color: #fff;
	font-weight: bold;
}

#container #sidebar-2 .block .block-calendar #calendar .todaywd, #calendar .todaywe {
	color: #9eb7d3;
	background: #172e47;
	text-decoration: none;
	padding: 5px;
	display: block;
}

#container #sidebar-2 .block .block-title .icon {
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
	margin-top: -3px;
}

#container #sidebar-2 .block .block-title .icon-archiv {
	background: url('../img/archiv.jpg') no-repeat;
}

#container #sidebar-2 .block .block-title .icon-tags {
	background: url('../img/tags.jpg') no-repeat;
}

#container #sidebar-2 .block .block-title .icon-calendar {
	background: url('../img/calendar.jpg') no-repeat;
}

/* Container - sidebar-3
----------------------------*/
#container #sidebar-3 {
	width: 261px;
	border-right: 1px solid #d9e6f0;
	border-top: 1px solid #cfd1d2;
	background: #f0f3f4;
	padding: 23px;
	display: table-cell;
	vertical-align: top;
}

#container #sidebar-3 .block .block-title {
	color: #5c5c5c;
	font-size: 24px;
	font-style: italic;
	border-bottom: 1px solid #bfc0c1;
	padding: 0 0 15px 0;
	margin: 0 0 15px 0;
}

#container #sidebar-3 .block .block-title .icon-stats {
	width: 26px;
	height: 24px;
	background: url('../img/stats.jpg') no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin-top: -3px;
}

/* Footer
----------------------------*/
#footer {
	overflow: hidden;
	padding: 30px 25px;
}

#footer .copyright {
	float: left;
}

#footer .by {
	float: right;
}

/* Dialog
----------------------------*/
#dialog {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 998;
	display: none;
	left: 0;
	top: 0;
}

#dialog .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 999;
	opacity: 0.15;
	-moz-opacity: 0.15;
	-khtml-opacity: 0.15;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=15);
	cursor: pointer;
}

#dialog .dialog {
	position: relative;
	width: 330px;
	opacity: 1;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	background: #fafafa;
	z-index: 1001;
	left: 50%;
	top: 190px;
	margin-left: -160px;
}

#dialog .dialog .dialog-clouse {
	position: absolute;
	width: 29px;
	height: 28px;
	background: url('../img/clouse.png');
	top: -14px;
	right: -14px;
	cursor: pointer;
}

#dialog .dialog .dialog-title {
	padding: 20px 20px 10px 20px;
	border-bottom: 1px solid #ddd;
}

#dialog .dialog .dialog-message {
	padding: 20px 20px 20px 20px;
}

#dialog .dialog .dialog-message .input {
	margin-top: 15px;
	margin-bottom: 0px;
}

#dialog .dialog .dialog-message .btn {
	margin: 10px 8px 0 0;
}

/* Message
----------------------------*/
.ng-message {
	padding: 6px;
	border: 1px solid #ececec;
	border-radius: 5px;
	background: #e3ebef;
	margin: 5px 0 10px 0;
}

.ng-message h3 {
	margin: 0 0 .5em;
}

/* Spoilers
----------------------------*/
.spoiler {
	border: solid 1px #adbac6;
	background: #ebeef7;
	margin: 5px 0px 5px 0px;
	padding: 0px;
	clear: both;
}

.spoiler .sp-head {
	padding: 4px 0 4px 2px;
	cursor: pointer;
}

.spoiler .sp-head b {
	background: url('../img/spoiler-plus.gif') no-repeat;
	float: left;
	width: 9px;
	height: 9px;
	margin: 5px 4px 0 4px
}

.spoiler .sp-head b.expanded {
	background: url('../img/spoiler-minus.gif') no-repeat;
	float: left;
	width: 9px;
	height: 9px;
}

.spoiler .sp-body {
	border-top: solid 1px #adbac6;
	padding: 6px;
	background: #f7f8fc;
	display: none;
}

/* Quote
----------------------------*/
blockquote {
	border: solid 1px #adbac6;
	background: #ebeef7;
	margin: 5px 0px 5px 0px;
	padding: 5px;
}

/* Вывод результатов голосования на сайте
----------------------------*/
.voteprogress {
	overflow: hidden;
	height: 11px;
	border: 1px solid #ccc;
	position: relative;
	display: block;
	padding: 0;
	margin: 4px 0;
	background: #dedede;
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#e9e9e9));
	background: -moz-linear-gradient(top, #ccc, #e9e9e9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#e9e9e9');
	-moz-box-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.voteprogress span {
	text-align: center;
	text-indent: -2000em;
	height: 9px;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 0;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.voteprogress .vote1 {
	border: 1px solid #0078a5;
	background-color: #5c9ade;
	background: -moz-linear-gradient(top, #00adee 10%, #0078a5 90%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, #00adee), color-stop(0.9, #0078a5));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

.voteprogress .vote2 {
	border: 1px solid #5c9425;
	background-color: #77af3f;
	background: -moz-linear-gradient(top, #8fc857 10%, #5c9425 90%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, #8fc857), color-stop(0.9, #5c9425));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8fc857', endColorstr='#5c9425');
}

.voteprogress .vote3 {
	border: 1px solid #f47a20;
	background-color: #faa51a;
	background: -moz-linear-gradient(top, #faa51a 10%, #f47a20 90%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, #faa51a), color-stop(0.9, #f47a20));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

.voteprogress .vote4 {
	border: 1px solid #a92c2c;
	background-color: #c44747;
	background: -moz-linear-gradient(top, #dd5f5f 10%, #a92c2c 90%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, #dd5f5f), color-stop(0.9, #a92c2c));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DD5F5F', endColorstr='#A92C2C');
}

.voteprogress .vote5 {
	border: 1px solid #8c2ca9;
	background-color: #8c2ca9;
	background: -moz-linear-gradient(top, #bf5fdd 10%, #8c2ca9 90%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, #bf5fdd), color-stop(0.9, #8c2ca9));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf5fdd', endColorstr='#8c2ca9');
}

/* table
----------------------------*/
.nsm td.nsm_list, .nsm td.nsm_head,
.pm td.pm_list, .pm td.pm_head {
	border: 1px solid #d8d8d8;
	padding: 2px;
	background-color: #fff;
}

.nsm td.nsm_head,
.pm td.pm_head {
	background: #f5f5f5;
	height: 22px;
	padding: 0;
	font-weight: bold;
	text-align: center;
	color: #4e4e4e;
}